.logo-with-slash {
  width: 200px;
  height: 200px;
  background-image: url("/assets/logo.svg");
}

.logo-with-no-slash {
  width: 200px;
  height: 200px;
  background-image: url("assets/logo.svg");
}